<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4>My Dashboard</h4>
        <button class="btn btn-outline-secondary logout-button" (click)="logout()">Logout</button>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addStockModal" (click)="openStockModal()">
            Buy Stock
        </button>
    </div>

    <app-add-stock-modal (stockAdded)="addStockData($event)"></app-add-stock-modal>

    <!-- Grand Total Display -->
    <div *ngIf="portfolios.length > 0">
        <h5>Grand Total Value: {{ getGrandTotal() | currency:'GBP' }}</h5>
    </div>

    <table class="table table-striped" *ngIf="portfolios.length > 0; else noData">
        <thead>
            <tr>
                <!-- <th scope="col">Stock Id</th>-->
                <th scope="col">Stock Name</th>
                <th scope="col">Stock Symbol</th>
                <th scope="col">Quantity</th>
                <th scope="col">Current Value</th>
                <th scope="col">Total Value</th>
                <th scope="col">Actions</th> <!-- New column for actions -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let portfolio of portfolios">
                <!-- <td>{{portfolio.stock.id}}</td>-->
                <td>{{portfolio.stock.name}}</td>
                <td>{{portfolio.stock.symbol}}</td>
                <td>{{portfolio.quantity}}</td>
                <td>{{portfolio.livePrice || 'Loading...'}}</td>
                <td>{{portfolio.totalValue || 'Calculating...'}}</td>
                <td>
                    <button class="btn btn-danger"
                        (click)="openSellModal(portfolio.stock.id, portfolio.stock.name, portfolio.stock.symbol)"
                        data-toggle="modal" data-target="#sellStockModal">
                        Sell
                    </button>
                    <!-- <button class="btn btn-danger" (click)="removeStockData(portfolio.stock.id)">Sell</button>-->
                    <!-- Remove button -->
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #noData>
        <p>No data available to display.</p>
    </ng-template>
</div>


<!-- Sell Stock Modal -->
<div class="modal fade" id="sellStockModal" tabindex="-1" role="dialog" aria-labelledby="sellStockModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sellStockModalLabel">Sell Stock</h5>
                <button type="button" class="close" (click)="closeSellModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Name:</strong> {{ sellStockName }}</p>
                <p><strong>Symbol:</strong> {{ sellStockSymbol }}</p>
                <div class="form-group">
                    <label for="sellQuantity">Quantity to Sell:</label>
                    <input type="number" id="sellQuantity" class="form-control" [(ngModel)]="sellQuantity" min="0"
                        [max]="getCurrentStockQuantity(sellStockId ?? 0)" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeSellModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="sellStock()"
                    [disabled]="sellQuantity <= 0 || sellQuantity > getCurrentStockQuantity(sellStockId ?? 0)">Sell</button>
            </div>
        </div>
    </div>
</div>