<div class="modal fade" id="addStockModal" tabindex="-1" role="dialog" aria-labelledby="addStockModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStockModalLabel">Add Stock</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addStockForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="symbol">Stock Symbol</label>
                        <!--<input type="text" id="symbol" class="form-control" formControlName="symbol" required>-->
                        <select id="symbol" class="form-control" formControlName="symbol" (change)="onSymbolChange()"
                            required>
                            <option value="" disabled selected>Select a stock</option>
                            <option *ngFor="let stock of stocks" [ngValue]="stock">{{stock.id}} {{ stock.name }}
                                ({{ stock.symbol }})</option>
                        </select>
                        <div *ngIf="hasError('symbol', 'required')">Symbol is required.</div>
                    </div>
                    <div class="form-group">
                        <label for="name">Stock Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name" required readonly>
                        <div *ngIf="hasError('name', 'required')">Name is required.</div>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" id="quantity" class="form-control" formControlName="quantity" required>
                        <div *ngIf="hasError('age', 'min')">Minimum stock to buy is 1.</div>
                        <div *ngIf="hasError('age', 'max')">Maximum stock to buy is 200.</div>
                    </div>
                    <button type="submit" class="btn btn-primary submitBtn" [disabled]="addStockForm.invalid">Add
                        Stock</button>
                </form>
            </div>
        </div>
    </div>
</div>